[Unit]
Description=Sourceless-OS Client HWID Heartbeat Agent
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /usr/bin/sourceless-client-boot.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target