[Unit]
Description=Sourceless-OS Client Heartbeat Timer

[Timer]
# Prima rulare la 1 minut după ce a pornit calculatorul
OnBootSec=1min
# Rulări ulterioare la fiecare 3 minute
OnUnitActiveSec=3min
# Serviciul pe care îl declanșează
Unit=sourceless-client.service

[Install]
WantedBy=timers.target